<h1><% @team_name %></h1>

<h2>"Team Motto:" <% @team_motto %> </h2>

<h3>"Hero Name:" <% @hero1 %></h3>

<p>"Hero Power:"<% @hero1pow %></p>
<p>"Hero Biography:"<% @hero1bio %></p>


<h4>"Hero Name:" <% @hero2 %></h4>

<p>"Hero Power:"<% @hero1pow %></p>
<p>"Hero Biography:"<% @hero1bio %></p>

<h5>"Hero Name:" <% @hero3 %></h5>

<p>"Hero Power:"<% @hero1pow %></p>
<p>"Hero Biography:"<% @hero1bio %></p>







